.carousel_container{
    width:1000px;
}

/* UTILITY */

.image_container{
    height: 100%;
}

.mw_900{
    max-width: 900px!important;
}
.static_dim{
max-width: 700px;
    min-width: 700px;
}

.h_main{
    height: 351px;
}

.image_container img{
 height: calc(349px / 5);
} 

.mb_2px{
margin-bottom: 2px;
}

/* POSIZIONAMENTO */
.center_pos{
height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_0{
    right: 0;
    text-align: right;
    margin-right: 15px;
}

/* OSCURAMENTO */

.obscured{
    position: relative;
}

.obscured::before{
    position: absolute; 
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:rgba(0,0,0,0.5); 
    content: " ";
}

.sel_border{
    border: 1px solid lightgrey;
    box-sizing: content-box;
}

.arrow{
 margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
 
}

.a_bot{
bottom: 0;
}
   
.arrow button{
    border: 0;
    border-radius: 20px;
    background-color: darkgrey;
}

/* FORMATTAZIONE TESTO */
.font_1_3{
font-size: 1.3rem;
}

.text_desc{
    font-weight: 700;
        font-size: 1.1rem;
    margin-left: 20px;
}